<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
        <add key="VideoDirectory" value="C:\Users\Ben\Desktop\Videos"/>
        <add key="MinimumBlackInSeconds" value="10"/>
        <add key="MaximumBlackInSeconds" value="30"/>
    </appSettings>
</configuration>